html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: #2F1893;
    font-family: 'DM Sans', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    line-height: 26px;
    display: block;
    color: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}




/*Home*/
#home-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#home-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Home.png') center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    gap: 45px;
    margin-top: 85px;
}

#navigation li {
    display: list-item;
    font-size: 18px;
    font-weight: 500;
    line-height: 144%;
}

#navigation a,
.mobile-menu a {
    color: #fff;
    text-decoration: none;
}

#navigation a:hover,
.mobile-menu a:hover {
    opacity: 0.3;
}

#slider {
    position: relative;
    margin-top: 142px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 736px;
}

.slides-container {
    position: relative;
    width: 100%;
}

#startup {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.slide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    min-height: 234.68px;
}

.slide.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.slide h1 {
    margin-top: 26px;
    font-weight: 700;
    font-size: 72px;
    line-height: 119%;
    letter-spacing: -0.01em;
    text-align: center;
}

.slide h5 {
    margin-top: 27px;
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    text-align: center;
}

#next,
#prev {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    opacity: 0.3;
}

button:hover {
    background: rgba(255, 255, 255, 0.6);
}

#prev {
    left: -280px;
}

#next {
    right: -280px;
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background 0.3s ease;
}

.dot.active {
    background-color: white;
}

.create-account {
    margin-top: 56px;
    background-color: #482BE7;
    border: none;
    width: 230px;
    height: 60px;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

.create-account:hover {
    background-color: #3C1FB4;
}

#menu-toggle {
    font-size: 24px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 20px;
    z-index: 1001;
    display: none;
}

.mobile-menu {
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100vh;
    background-color: #2F1893;
    color: white;
    z-index: 1000;
    transition: left 0.3s ease;
    padding-top: 80px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0 30px;
}

.mobile-menu li {
    margin: 20px 0;
}

.mobile-menu.active {
    left: 0;
}


@media (max-width: 480px) {
    #home-container {
        height: 100vh;

    }

    #slider {
        margin-top: 100px;
        width: 80%;
        padding: 0 10px;

    }

    .slide h1 {
        font-size: 36px;
        height: 80px;
    }

    .slide h5 {
        font-size: 16px;
        line-height: 26px;
        height: 155px;
    }

    .create-account {
        width: 150px;
        height: 50px;
        font-size: 14px;
        margin-top: 40px;
    }

    #prev,
    #next {
        display: none;
    }

    .dots {
        margin-top: 30px;
    }

    #menu-toggle {
        display: block;

    }

    #navigation {
        display: none;
    }

}






/*Free sample*/
#free-sample {
    position: relative;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 540px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

#free-sample::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/sample.png') center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

#free-sample-container {
    margin-top: 115px;
    width: 815px;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sample-header {
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#free-sample-container h2 {
    font-size: 58px;
    margin-top: 29px;
    font-weight: 700;
    line-height: 121%;
    letter-spacing: -0.02em;
    text-align: center;
}

#free-sample-container p {
    margin-top: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
    text-align: center;
    opacity: 0.7;
}

@media (max-width: 480px) {

    #free-sample {
        height: auto;
    }

    #free-sample-container h2 {
        font-size: 28px;
        margin-top: 15px;
    }

    #free-sample-container p {
        font-size: 14px;
        margin-top: 15px;
    }

    #free-sample-container {
        margin-top: 0;
        padding: 0 15px;
    }
}





/*Prodact info*/
#prodact-info {
    position: relative;
    width: 100%;
    height: 736px;
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#prodact-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/productInfo.png') center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

#prodact-container {
    width: 770px;
    padding: 0;
    margin: 0;
    height: auto;
    text-align: start;
}

#product-container-text {
    width: 600px;
}

#prodact-container h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

#prodact-about {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    margin-top: 20px;
}

#details-container {
    position: relative;
    width: 770px;
    display: flex;
    gap: 29px;
}

.slider2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 65.6px;
    position: relative;
}

.slide2 {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 254.4px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    transition: opacity 0.5s ease-in-out;
}

.slide2.active {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.detail {
    box-sizing: border-box;
    width: 271px;
    height: 186.8px;
    padding: 20px;
    border-radius: 16px;
    flex: 1;
    backdrop-filter: blur(4px);
    text-align: left;
    transition: transform 0.3s;
}

.detail:hover {
    transform: translateY(-5px);
}

.detail i {
    font-size: 37px;
    color: white;
    margin-bottom: 15px;
}

.detail-title,
.detail-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
}

.detail-title {
    margin-top: 29px;
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.detail-text {
    padding-top: 16.2px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}

.dots2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 188px;
}

.dot2 {
    height: 12px;
    width: 12px;
    margin: 9px 0;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot2.active {
    background-color: #ffffff;
}

.details {
    width: 271px;
}

@media (max-width: 768px) {
    .laptop {
        display: none;
    }

    #prodact-container {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .dots2 {
        margin-left: 40px;
    }

}

@media (max-width: 480px) {
    .laptop {
        display: none;
    }

    #prodact-info {
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
        overflow: hidden;
        height: auto;
        align-items: center;
    }

    #prodact-container {
        width: 100%;
        height: auto;
        text-align: center;
    }

    #product-container-text {
        width: 100%;
    }

    #prodact-container h3 {
        font-size: 28px;
        margin-top: 15px;
        text-align: center;
        line-height: 1.2;
    }

    #prodact-about {
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
    }

    .slider2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        width: 100%;
        height: 430px;
        position: relative;
    }

    #details-container {
        width: 100%;
    }

    .slide2 {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 15px;
        transition: opacity 0.5s ease-in-out;
        padding: 0 15px;
        box-sizing: border-box;
    }

    .slide2.active {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    .detail {
        padding: 15px;
        border-radius: 12px;
        backdrop-filter: blur(6px);
        text-align: left;
    }

    .detail-title {
        font-size: 16px;
        margin-top: 10px;
        letter-spacing: 0.1em;
    }

    .detail-text {
        padding-top: 10px;
        font-size: 14px;
        line-height: 1.4;
    }

    .detail i {
        font-size: 24px;
        margin-bottom: 10px;
    }

    #prodact-container p {
        font-size: 14px;
    }

    .dots2 {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        flex-direction: row;
        width: fit-content;
        height: auto;
        z-index: 10;
    }


    .dot2 {
        height: 12px;
        width: 12px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin: 0;
    }

    .dot2.active {
        background-color: #ffffff;
    }
}





/*Authorization*/
#account {
    position: relative;
    height: 750px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#account::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/sample.png') center/cover no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.form-description {
    width: 318px;
    display: inline;
}

.form-description h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

.form-description p {
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}

.form-slider {
    background-color: #FFFFFF;
    height: 550px;
    width: 470px;
    margin-left: 130px;
}

.form-button {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.form-button .active {
    border-bottom: 2px solid #482BE7;
}

.form-button .signUp,
.form-button .logIn {
    color: #1E0E62;
    border: none;
    background-color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
}

.form-button button.active {
    border-bottom: 2px solid #482BE7;
    font-weight: bold;
    border-radius: 0;
}

.form {
    display: none;
}

.form.active {
    display: block;
}

.form-slider form {
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.form-slider input {
    width: 330px;
    height: 50px;
    border-radius: 50px;
    border-color: #EBEAED;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: rgba(21, 20, 57, 0.4);
    border: 1px solid rgba(21, 20, 57, 0.4);
}

.form-slider button {
    width: 330px;
    height: 50px;
    border-radius: 50px;
    border-color: #EBEAED;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
}

#login-btn,
#signup-btn {
    background-color: #482BE7;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
}

#login-btn:hover,
#signup-btn:hover {
    background-color: #1E0E62;
}

.google {
    background-color: #DB4437;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
}

.google:hover {
    background-color: #111827;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    gap: 10px;
    color: #EBEAED;
    font-size: 14px;
    margin: 22px
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #EBEAED;
}

@media (max-width: 768px) {
    #account {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
    }

    .form-description {
        width: 100%;
    }




    .form-slider {
        width: 70%;
        margin: 0 auto;
        text-align: center;
        height: auto;
        margin-top: 50px;
    }

    .form-slider form {
        margin-top: 30px;
    }

    .form-slider input,
    .form-slider button,
    #signup-btn,
    .separator {
        width: 85%;
        font-size: 18px;
        line-height: 1.4;
    }

    .form-slider input,
    .form-slider button {
        height: 40px;
    }
}

@media (max-width: 480px) {
    #account {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
    }

    .form-description {
        width: 100%;
    }

    .form-description h3 {
        font-size: 28px;
        margin-top: 15px;
        text-align: center;
        line-height: 1.2;
    }

    .form-description p {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
    }

    .form-slider {
        width: 93%;
        margin: 0 auto;
        text-align: center;
        height: auto;
        margin-top: 50px;
    }

    .form-slider form {
        margin-top: 30px;
    }

    .form-slider input,
    .form-slider button,
    #signup-btn,
    .separator {
        width: 85%;
        font-size: 16px;
        line-height: 1.4;
    }

    .form-slider input,
    .form-slider button {
        height: 40px;
    }
}





/*Testimonial*/
#testimonial {
    background-color: #1e0e62;
    width: 100%;
    min-height: 800px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#testimonial-container {
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#testimonial h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

#clients {
    margin-bottom: 40px;
}

#clients-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
    max-width: 970px;
    margin: 0 auto;
}

.client {
    width: 470px;
    height: 237px;
    border: solid 1px #FFFFFF;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    padding: 35px 28px 23px 25px;
    font-size: 18px;
}

.clients-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.client img {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.reivew {
    max-width: 307px;
    font-weight: 500;
    font-size: 18px;
    line-height: 156%;
}

.name {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    #testimonial {
        width: 100%;
        margin-top: 30px;
        padding: 20px 15px;
    }

    .client img {
        display: none;
    }

    #clients-container,
    .client {
        width: 100%;
    }

}

@media (max-width: 480px) {

    #testimonial {
        width: 100%;
        margin-top: 30px;
        padding: 20px 15px;
    }

    #clients-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }


    #testimonial-container h3 {
        font-size: 28px;
        text-align: center;
        line-height: 1.2;
        width: 100%;
    }

    .client {
        width: 95%;
        height: auto;
    }

    .client img {
        display: none;
    }

    .client p,
    .name {
        font-size: 16px;
        line-height: 1.4;
    }

    .name {
        margin-top: 15px;
    }
}





/*Call to action*/
#call-to-action {
    position: relative;
    width: 100%;
    height: 605px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#call-to-action::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/CallToAction.png') center/cover no-repeat;
    opacity: 0.7;
    z-index: -1;
}

#title h2 {
    font-weight: 700;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: -0.02em;
    text-align: center;
}

#title h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    text-align: center;
    max-width: 518px;
    margin-top: 20px;
}

#action-buttons {
    margin-top: 58px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#play-btn {
    background-color: #ea3223;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#play-btn img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    padding-left: 4px;
}

#play-btn:hover {
    background-color: #111827;
}

#start-btn {
    border-radius: 100px;
    width: 213px;
    height: 70px;
    background-color: #25dac5;
    border: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #fff;
}

#start-btn:hover {
    background-color: #1E0E62;
    color: #fff;
}

@media (max-width: 480px) {
    #call-to-action {
        width: 100%;
        padding: 20px 15px;
        display: flex;
        flex-direction: row;
        height: auto;
        align-items: center;
        gap: 20px;
    }

    #title h2 {
        font-size: 28px;
        margin-top: 15px;
        text-align: end;
    }

    #title h5 {
        font-size: 16px;
        line-height: 26px;
        height: 155px;
        height: auto;
        text-align: end;
    }

    #action-buttons {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #play-btn {
        height: 50px;
        width: 50px;
    }

    #start-btn {
        width: 100px;
        font-size: 16px;
        line-height: 1.4;
        height: 40px;
    }
}






/*ShowCase*/
#ShowCase {
    width: 100%;
    height: 1130px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

#showcase-container {
    max-width: 970px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#showcase-title {
    max-width: 970px;
    height: 52.2px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 53px;
}


#works-container {
    max-width: 970px;
    display: grid;
    grid-template-columns: repeat(2, 470px);
    column-gap: 40px;
    row-gap: 74px;
    height: 816px;
    justify-items: center;
}

.work {
    width: 470px;
    height: 371px;
    gap: 3px;
}

#showcase-title h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

#all-woks-btn {
    border: 2px solid #fff;
    border-radius: 100px;
    width: 170px;
    height: 50px;
    opacity: 0.3;
    background-color: transparent;
    color: #fff;
}

#all-woks-btn:hover {
    background-color: #fff;
    opacity: 0.3;
    color: #1E0E62;
}

.work p {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    text-align: center;
}

.work h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    text-align: center;
}

.work img {
    margin-bottom: 30px;
}


@media (max-width: 768px) {
    #ShowCase {
        width: 100%;
        padding: 0 15px;
        margin-top: 40px;
        height: auto;
    }

    #works-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-between;
    }

    .work {
        width: calc(50% - 10px);
        box-sizing: border-box;
    }

    .work img {
        width: 100%;
        height: auto;
        display: block;
    }

}


@media (max-width: 480px) {
    #ShowCase {
        width: 100%;
        padding: 0 15px;
        margin-top: 40px;
        margin-bottom: 40px;
        /* Додано */
        height: auto;
        /* Виправлено */
        box-sizing: border-box;
    }

    #showcase-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #showcase-title h3 {
        font-size: 28px;
        text-align: left;
        line-height: 1.2;
        margin: 0;
    }

    #all-woks-btn {
        width: 150px;
        height: 40px;
        font-size: 14px;
    }

    #works-container {
        width: 100%;
        display: flex;
        /* Заміна grid */
        flex-direction: column;
        gap: 30px;
        height: auto;
        /* Виправлено */
    }

    .work {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px 0;
    }

    .work img {
        width: 90%;
        height: auto;
        margin-bottom: 10px;
    }

    .work h5 {
        font-size: 16px;
        line-height: 1.6;
    }

    .work p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 5px;
    }
}





/*Team*/
#team {
    width: 100%;
    height: 992px;
    padding-top: 100px;
    display: flex;
    justify-content: left;
}

#team-container {
    margin-left: 115px;
}

#team-title {
    max-width: 754px;
    height: 179px;
    gap: 31px;
}

#team-title h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
    margin-bottom: 31px;
}

#team-title h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
}

#team-members {
    margin-top: 70px;
    max-width: 764px;
    height: 543px;
    display: grid;
    grid-template-columns: repeat(3, 196px);
    column-gap: 146px;
    row-gap: 60.8px;
    justify-items: center;
}

.member img {
    width: 100px;
    height: 100px;
}

.member h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    margin: 17px 0 8.2px;
}

.member p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin-bottom: 20px;
}

.member-socials {
    max-width: 196px;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 29px;
}

.member-socials i {
    font-weight: 400;
    font-size: 18px;
    line-height: 211%;
    text-align: center;
}

@media (max-width: 768px) {

    #team,
    #team-container,
    #team-members {
        width: 100%;
    }

    #team {
        padding: 0 15px;
    }

    #team-container {
        margin: 0;
    }

    #team-members {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        height: auto;
        margin-top: 40px;
        padding: 0 10px;
        box-sizing: border-box;
    }
}

@media (max-width: 480px) {

    #team,
    #team-container,
    #team-members {
        width: 100%;
    }

    #team {
        padding: 0 15px;
    }

    #team-container {
        margin: 0;
    }

    #team-container h5 {
        font-size: 16px;
        line-height: 1.6;
    }

    #team-container h3 {
        font-size: 28px;
        line-height: 1.2;

    }

    .member p {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 5px;
    }

    #team-members {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        height: auto;
        margin-top: 40px;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .member-socials i {
        font-size: 14px;
    }

}





/*Contact*/
#contact {
    position: relative;
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    overflow: hidden;
}

#contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Contact.png') center/cover no-repeat;
    opacity: 0.6;
    z-index: -1;
}

#plans::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Plans.png') center/cover no-repeat;
    opacity: 0.6;
    z-index: -1;
}

#contact-info {
    width: 410px;
    height: 479.2px;
}

#contact-form {
    width: 470px;
    height: 570px;
}

#contact-form form {
    width: 100%;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: rgba(21, 20, 57, 0.4);
    padding: 58px 49px 50px 50px;
}

#contact h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
}

#contact h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    margin-top: 28px;
}

#info-container {
    width: 283.5px;
    height: 218px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 53.2px;
}

#info-container i {
    font-weight: 400;
    font-size: 18px;
    line-height: 211%;
    text-align: center;
    margin-right: 15px;
}

#info-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    margin: 0 0 10px 0;
    display: flex;
    align-items: baseline;
}

#info-container span {
    display: block;
}

#name-budget-row {
    width: 100%;
    height: 82px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name-container,
.budget-container,
.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name-container {
    width: 200px;
}

#contact-form label {
    font-weight: 700;
    font-size: 14px;
    line-height: 186%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #1e0e62;
}

#contact-form input,
.form-group input {
    border: 2px solid #ebeaed;
    border-radius: 100px;
    cursor: pointer;
    padding-left: 24px;
    width: 100%;
}

#contact-form input:focus,
#message:focus {
    border-color: #1e0e62;
    outline: none;
}

#name {
    max-width: 100%;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
}

#budget {
    border: 2px solid #ebeaed;
    border-radius: 100px;
    cursor: pointer;
    width: 140px;
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    color: #1e0e62;
    padding-left: 24px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('images/Arrow.svg') no-repeat right 24px center;
    background-size: 11px 7px;
    padding-right: 50px;
}

.form-group {
    margin-top: 35px;
}

#contact-email {
    height: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    box-sizing: border-box;
}

#message {
    height: 110px;
    box-sizing: border-box;
    padding: 11px 19px 22px 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    overflow-y: auto;
    resize: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #ebeaed;
}

#send-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#send {
    display: flex;
    align-items: center;
    gap: 12px;

}

#send input[type="checkbox"] {
    display: none;
}

#send label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: #ffffff;
    border: 2px solid #25DAC5;
    cursor: pointer;
    position: relative;
}

#send input[type="checkbox"]:checked+label {
    background: #25DAC5 url('data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%227%22%20viewBox%3D%220%200%2010%207%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1%203.5L3.64706%206L9%201%22%20stroke%3D%22%231E0E62%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22/%3E%3C/svg%3E') center center no-repeat;
    background-size: 10px 7px;
}

#send-btn {
    width: 120px;
    height: 50px;
    border-radius: 100px;
    background-color: #25DAC5;
    font-weight: 500;
    font-size: 18px;
    line-height: 144%;
    text-align: center;
    border: none;
    cursor: pointer;
}

#send-btn:hover {
    background-color: #1E0E62;
    color: #fff;
}

@media (max-width: 768px) {

    #contact {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 15px;
    }

    #contact-info,
    #contact-form,
    #info-container {
        width: 100%;
        height: auto;
    }

    #contact-form {
        margin-top: 50px;
    }
}

@media (max-width: 480px) {

    #contact {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 20px 15px;
    }

    #contact-info,
    #contact-form {
        width: 100%;
        height: auto;
    }

    #contact-info h3 {
        font-size: 28px;
        line-height: 1.2;
    }

    #contact-info h5 {
        font-size: 16px;
        line-height: 1.6;
    }

    #info-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        height: auto;
    }

    #info-container p {
        font-size: 14px;
        line-height: 1.4;
    }

    #info-container i {
        font-size: 14px;
    }

    #contact-form {
        height: auto;
        margin-top: 40px;
    }

    #contact-form form {
        padding: 40px 30px;
    }

    .name-container {
        width: 100%;
    }

    #contact-form button,
    #contact-form label,
    #contact-form input,
    #budget,
    #send span {
        font-size: 14px;
    }

    #name-budget-row {
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 30px;
    }

    #contact-form input {
        height: 40px;
    }

    #budget {
        height: 40px;
    }

    #send-btn {
        height: 40px;
        width: 100px;
    }
}





/*Plans*/
#plans {
    position: relative;
    width: 100%;
    height: 1130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#plans::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/Plans.png') center/cover no-repeat;
    opacity: 0.6;
    z-index: -1;
}

#plans-title {
    margin-top: 100px;
    width: 586px;
    height: 146px;
}

#plans-title h3 {
    font-weight: 700;
    font-size: 42px;
    line-height: 124%;
    letter-spacing: -0.01em;
    text-align: center;
}

#plans-title h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
    text-align: center;
    margin-top: 30px;
}

#plans-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1170px;
    height: 730px;
    gap: 30px;
    margin: 54px 114px 100px 116px;
}

.plan {
    box-sizing: border-box;
    width: 370px;
    height: 730px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
    padding: 64.2px 70px 56px 44px;

}

.plan-price {
    width: 134px;
    height: 124.6px;
    margin-bottom: 44.6px;
}

.price {

    display: flex;
    flex-direction: row;
    margin-top: 22.6px;
    gap: 7px;
}

.price h2 {
    font-weight: 700;
    font-size: 58px;
    line-height: 121%;
    letter-spacing: -0.02em;
}

.price p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}

.plan h5 {
    font-weight: 500;
    font-size: 22px;
    line-height: 145%;
}

.plan-info {
    width: 172px;

}

.plan-info p {
    margin-bottom: 10px;
}

.plan-active i {
    font-size: 12px;
    line-height: 8px;
    display: inline-block;
    color: #18C967;
    vertical-align: middle;
    text-align: center;
    margin-right: 19px;

}

.plan-inactive {
    margin-left: 31px;

}

.plan p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    opacity: 0.7;
}

.start-plan-btn {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    width: 230px;
    height: 60px;
    background-color: transparent;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #fff;
    margin-top: 20.6px;
    margin-left: 26px;
}

#professional button {
    background-color: #e93a7d;
    border: none;
}

.start-plan-btn:hover,
#professional button:hover {
    background-color: #18C967;
}

.plan-short,
.plan-short-btn {
    display: none;
}

.plan-short-btn {
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 100px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #fff;
}

@media (max-width: 768px) {
    #plans {
        height: auto;
        width: 100%;
        padding: 20px 15px;
    }

    #plans-title {
        width: 100%;
        height: auto;
    }

    #plans-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        justify-content: center;
        margin-top: 30px;
    }

    .plan {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .start-plan-btn {
        margin: 0;
        margin-top: 20px;
        background-color: #e93a7d;
    }
}

@media (max-width: 480px) {
    #plans {
        height: auto;
        width: 100%;
        padding: 20px 15px;
    }

    #plans-title {
        width: 100%;
        height: auto;
    }

    #plans-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: auto;
        justify-content: center;
        margin-top: 30px;
    }

    .plan {
        width: 100%;
        height: auto;
    }

    .price {
        margin-top: 10px;
    }

    .plan-price {
        margin-bottom: 10px;
        height: auto;
    }

    .plan-header {
        height: auto;
    }

    .plan-short {
        margin-bottom: 30px;
    }

    .plan-short,
    .plan-short-btn {
        display: block;
    }


    .plan-info {
        display: none;
    }


    .plan-info.show {
        display: block;
    }

    .plan-short-btn,
    .start-plan-btn {
        border: 2px solid rgba(255, 255, 255, 0.3);
        border-radius: 100px;
        width: 150px;
        height: 40px;
        background-color: transparent;
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #fff;
        margin: 10px 0;
    }

    .start-plan-btn {
        background-color: #e93a7d;
    }


}





/*Footer*/
footer {
    width: 100%;
    padding: 49.4px 115px 44.6px 116px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#copyrights {
    width: 1169px;
    height: 29.8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40.8px;
}

#left-copyrights {
    width: 314px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#footer-socials {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 1px solid white;
    width: 1169px;

}

#menu {
    width: 1170px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu-container {
    width: 528px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 47.4px;
}

#menu-container p {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
}


#rights {
    width: 292px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: right;
}



@media (max-width: 768px) {
    footer {
        padding: 20px 15px;
        width: 100%;
        height: auto;
    }


    #copyrights,
    #menu {
        width: 100%;
        height: auto;
    }

    hr {
        width: 100%;
        margin: 20px 0;
    }

    #menu {
        margin-top: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    #rights {
        width: 100%;
        text-align: end;
    }

}

@media (max-width: 480px) {
    footer {
        padding: 20px 15px;
        width: 100%;
        height: auto;
    }


    #copyrights,
    #menu {
        width: 100%;
        height: auto;
    }

    #copyrights {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        margin: 0;

    }

    hr {
        width: 100%;
        margin: 20px 0;
    }

    #menu p{
        font-size: 12px;
        
    }

    #menu-container{
        margin: 0;
        height: auto;
    }


}